---
layout: layout
published: true
comments: true
---

<section class="content">
  <h1>
    <a href="{{site.url}}{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
     <a href="{{site.url}}{{ page.url }}"><i class="fa fa-calendar" font-size = "14px"></i></a> <a href="{{site.url}}{{ page.url }}">{{ page.date | date: "%B %e, %Y" }}</a> <a href="{{site.url}}{{ page.url }}#comments"><i class="fa fa-comment" id = "tags"></i></a> <a href="{{site.url}}{{ page.url }}#disqus_thread">0 Comments</a> <a href="{{ site.url }}/tags/"><i class="fa fa-tag" id = "tags"></i></a> {% for tag in page.tags %}<a href="{{ site.url }}/tag/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %} {% endfor %}
  </section>

    
    

  {{ content }}

  
</section>
